---
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}


{% capture written_title %}'None'{% endcapture %}
{% for post in site.talks reversed %}
  {% capture title %}{{ post.title }}{% endcapture %}
  {% if title != written_title %}
    <h3 style="color: #494e52; margin-bottom: 1em;"><a>{{ title }}</a></h3>
    {% capture written_title %}{{ title }}{% endcapture %}
  {% endif %} 
  {% include archive-single-talk.html %}
{% endfor %}
